
body{
  background-color: rgb(223, 225, 231);
}

#main{
  position: relative;
  width: 1360px;
  height: 580px;
  background-color: rgb(254, 255, 254);
  border: 2px solid rgb(254, 255, 254);
  border-radius: 15px;
}